$color-bg-dark: #141625;
$color-bg-light: #F8F8F8;
$color-button-purple: #7C5DFA;
$color-hover-button-purple: #9277FF;
$color-button-red:#EC5757;
$color-hover-button-red: #FF9797;
$color-gray-1:#F9FAFE;
$color-gray-2:#DFE3FA;
$color-gray-3: #888EB0;
$color-gray-blue: #7E88C3;
$color-dark-1: #373B53;
$color-dark-2: #252945;
$color-dark-3:#1E2139;
$color-dark-4:#0C0E16;
$color-text-white: #FFFFFF;
$color-paid: #33D69F;
$color-pending: #FF8F00;

$font-main: 'League Spartan', sans-serif;

$box-shadow-dropdown: 0 10px 20px 0 rgba(0,0,0,0.25)
