@import "src/assets/scss/_variables";

.icon{

  display: flex;
  align-items: center;

  &--rounded{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__svg {
    width: .7rem;
    height: .7rem;
    fill: $color-button-purple;

    &--gray-blue {
      fill: $color-gray-blue;
    }
  }
}
