@import "src/assets/scss/_variables";

.sidebar{
  width: 10rem;
  height: 100vh;
  background-color: $color-dark-1;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
