<div class="form-group">
  <label class="form-group__label">{{label}}</label>
  <div class="form-group__input-box" (click)="isDropdown ? onToggle() : ''" [ngClass]="isDropdown && isOpen ?  'form-group__input-box--focus' : ''">
    <input type="{{type}}" class="form-group__input" [disabled]="isDropdown">
    <app-icon iconId="icon-icon-arrow-down" boxIconClass="icon--dropdown" [iconClass]="'icon__svg--dropdown'" [isDropdown]="isDropdown && isOpen"></app-icon>
  </div>
</div>
<app-dropdown *ngIf="isDropdown && isOpen" (click)="isDropdown ? onToggle() : ''"></app-dropdown>

<!--<app-formGroup type="text" label="Street Address" [isDropdown]="true"></app-formGroup>-->
