<button class="button" [ngClass]="buttonClass" C>
  <ng-content></ng-content>
  {{text}}
</button>


<!--
 <app-button [text]="'New Invoice'" buttonClass="button--purple button--add-invoice">
    <app-icon [iconId]="'icon-plus'" boxIconClass="icon--rounded"></app-icon>
  </app-button>
  <app-button [text]="'Mark as Paid'"></app-button>
  <app-button [text]="'Edit'" buttonClass="button--gray-light"></app-button>
  <app-button [text]="'Save as Draft'" buttonClass="button--dark"></app-button>
  <app-button [text]="'Add New Item'" buttonClass="button--gray-light">
    <app-icon [iconId]="'icon-plus'" iconClass="icon__svg--gray-blue"></app-icon>
  </app-button>
  <app-button [text]="'Delete'" buttonClass="button--red"></app-button>
-->
